@import '../../styles/imports/settings.imports';

.c-details {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - (#{$header-height} + #{$main-menu-height}));
    overflow-y: scroll;
    width: 100%;
    font-family: $got-font;
    
    &__main-img {
        height: 300px;
    }

    &__row {
        width: 100%;
        height: calc((100% - #{$header-height + #{$main-menu-height}}) / 2);
    }

    &__col-title {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }

    &__col {
        display: flex;
        flex-direction: column;
        height: 50vh;        
    }

    &__items-list {
        font-family: $lato;
        text-align: center;
        overflow-y: scroll;
        padding: 0;
    }

    &__item {
        list-style: none;
        font-size: 16px;
        padding: $base-padding 0;
    }
}

// @media only screen and (min-width: 540px) {
//     .c-img-gallery__item {
//         flex-basis: 50%;
//     }
// }

// @media only screen and (min-width: 768px) {
//     .c-img-gallery__item {
//         flex-basis: calc(100% / 4);
//     }
// }

// @media only screen and (min-width: 960px) {
//     .c-img-gallery__item {
//         flex-basis: calc(100% / 6);
//     }
// }