@import '../../styles/imports/settings.imports';

.c-header {
    color: $color--white;    
    height: $header-height;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    &__wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__menu {
        align-items: center;
        display: flex;
    }

    &__item {
        cursor: pointer;
        list-style: none;
        margin-left: 16px;
    }

    &__flag {
        width: 40px;
    }
}