@import '../../styles/imports/settings.imports';

.c-main-menu {
    bottom: 0;
    color: $color--white;    
    position: fixed;
    width: 100%;


    &__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__item {     
        cursor: pointer;
        list-style: none;
        text-align: center;
        width: 250px;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }
}