//*********************************************************************************
//  a
//*********************************************************************************
a {
    color: $color--white;
    font-family: Got;
    text-decoration: none;
}
