//*********************************************************************************
//  Body
//*********************************************************************************
body {
    // font-size: $base-font-size;
    // line-height: $base-line-height;
    color: $color--white;
    background-color: $color--black;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    //font-family: $base-font-family;
    position: relative;
    width: 100%;
  }