@import '../styles/imports/settings.imports';

.c-timeline {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - (#{$header-height} + #{$main-menu-height}));
    overflow-y: auto;
    width: 100%;
    font-family: $got-font;

    &:before {
        content: '';
        background-color: #ffffff;
        border-radius: 10px;      
        height: calc(100vh - (#{$header-height} + #{$main-menu-height}));
        margin-left: 50%;
        position: absolute;
        width: 3px;
    }

    &__card {
        border-bottom: solid 2px #FFF;
        border-top: solid 2px #FFF;
        height: 15vw;
    }
}